.ContactForm {
  margin-top: 120px;
  form {
    
    width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    input {
      margin: auto;
    }
    textarea {
      margin: 30px auto 30px auto;
    }
  }

}