.Navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  align-items: start;
  top: 0;
  width: 80%;
  height: 120px;
  img {
    width: 180px;
    margin: 10px 0 10px 0;
    object-fit: cover;
  }
  nav {
    display: flex;
    justify-content: space-between ;
    align-items: center;
  a {
    margin-right: 30px;
    text-align: start;
    font-size: large;
    font-weight: 300;
    
  }
  a:hover {
      color: darkgray;
    }
  
  
  
}
}
.navBar {
  a.active {
      color: #ff0000;
    }
}
.isActive {
  color: #ff0000;
}

