.Galleries {
  margin-top: 160px;
  width: 90vw;
  display: flex;
  justify-content: center;
  div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    a div {
      width: 350px;
      height: 400px;
      display: flex;
      flex-direction: column;
      margin: 20px;
      padding: 0;
      margin-bottom: 30px;
      h2 {
        height: 100px;
      }
      img {
        height: 300px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}