.Galleries {
  margin-top: 160px;
  width: 90vw;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  div {
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    a div {
      width: 450px;
      height: 380px;
      display: flex;
      flex-direction: column;
      margin: 20px;
      padding: 0;
      
      
      img {
        height: 300px;
        width: 100%;
        object-fit: cover;
      }
    }
  }
  @media only screen and (max-width: 600px){
    div {
      grid-template: 1fr;
      a div {
        width: 300px;
        img {
          height: 200px;
        }
        
      }
    }
  }
}