.LandingPage {
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes fadeOut
  {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  img {
    height: calc(100% - 120px);
  }
}

.prevImage,
.currentImage {
  position: absolute;
  top: 140px;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.prevImage {
  animation: fadeOut 2s linear forwards;
}

.currentImage {
  animation: fadeIn 2s linear forwards;
}